[submodule "shareKit"]
	path = shareKit
	url = https://github.com/zhouxinv/shareKit.git
[submodule "NSLogKit"]
	path = NSLogKit
	url = https://github.com/zhouxinv/NSLogKit.git
[submodule "Masonry"]
	path = Masonry
	url = https://github.com/SnapKit/Masonry.git
